@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #f84565;
  --color-primary-dull: #d63854;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    color: #fcfbfc;
    background-color: #09090b;
    overflow-x: hidden;
  }
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

::-webkit-calendar-picker-indicator:hover {
  transition: all;
  transform: translateY(-1px);
  transition-duration: 300ms;
}
.scan-line {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 95%;
  height: 2px;
  background: red;
  animation: scan 2s ease-in-out infinite;
}

@keyframes scan {
  0% {
    top: 0%;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
